<% layout('layouts/boilerplate') %>
<body>
    <h1>EDIT YOUR DETAILS</h1>
    <form action="/campgrounds/<%=camp._id%>/edit" method="post">
        <label class="form-label" for="title">Title:</label><br>
        <input class="form-control" type="text" id="title" name="title" value="<%=camp.title%>"><br><br>
        
        <label class="form-label" for="price">Price:</label><br>
        <input class="form-control" type="text" id="price" name="price" value="<%=camp.price%>"><br><br>
        
        <label class="form-label" for="location">Location:</label><br>
        <input class="form-control" type="text" id="location" name="location" value="<%=camp.location%>"><br><br>
        
        <label class="form-label" for="image">Image URL:</label><br>
        <input class="form-control" type="text" id="image" name="image" value="<%=camp.image%>"><br><br>
        
        <label class="form-label" for="description">Description:</label><br>
        <textarea class="form-control" id="description" name="description" rows="4" cols="50"><%=camp.description%></textarea><br><br>
        
        <button class="btn btn-primary mb-2" >UPDATE</button>
        <button class="btn btn-primary mb-2"><a style="color: white;" href="/campgrounds" class="button-link">ALL CAMPGROUNDS</a></button>
    </form>
</body>
